parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - message: '/^Unsafe usage of new static\(\)\.$/'
      paths:
        - src/AbstractEmptyEvent.php
        - src/AbstractEvent.php
    - message: '/^Property Gears\\Event\\Abstract(Empty)?Event::\$createdAt \(DateTimeImmutable\) does not accept DateTimeImmutable\|false\.$/'
      paths:
        - src/AbstractEmptyEvent.php
        - src/AbstractEvent.php
    - message: '/^Method Gears\\Event\\Abstract(Empty)?Event::setPayloadParameter\(\) has parameter \$reflection with generic class ReflectionClass but does not specify its types: T/'
      paths:
        - src/AbstractEmptyEvent.php
        - src/AbstractEvent.php
