parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - message: '/^Call to an undefined method DateTimeInterface::setTimezone\(\)\.$/'
      path: src/Time/FixedTimeProvider.php
    - message: '/^Unsafe usage of new static\(\)\.$/'
      paths:
        - src/AbstractEmptyEvent.php
        - src/AbstractEvent.php
